#assoluto {
  position: absolute;
  width: 100%;
}

#sfondo {
  background-color: #002a60;
}

#sfondo p {
  font-family: 'Segoe UI Regular', 'Segoe UI', sans-serif;
  color: white;
  text-align: center;
  padding-top: 5.7rem;
  padding-bottom: 3.7rem;
}
